<!--author: Karina Lin, Julia Klugherz, Katherine Gao-->

<!DOCTYPE html>
<html lang='en'>

{% extends "base.html" %}

{% block content %}
    <body>
        <div id="detail-box" class="row justify-content-center">
            There have been {{numWeek}} incident(s) this week.
        </div>
        
        <div id="detail-box" class="row justify-content-center">
            Below are the number of incidents each person has been reported for:<br>
            {% for key,value in reportedCounts.iteritems() %}
                {{key}}: {{value}} <br>
            {% endfor %}
        </div>
        
        <div id="detail-box" class="row justify-content-center">
            Below are the number of incidents per location:<br>
            {% for key,value in locationCounts.iteritems() %}
                {{key}}: {{value}}<br>
            {% endfor %}
        </div>
        
        <div id="detail-box" class="row justify-content-center">
            Below are the number of incidents per category:<br>
            {% for key,value in categoryCounts.iteritems() %}
                {{key}}: {{value}}<br>
            {% endfor %}
        </div>
        
        <button type="submit" id="refresh">Refresh</button>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>
            /* global $ */
            console.log("test");
            
            $("#refresh" ).on("click", function(event) {
                $.get("http://cs304-karinahlin.c9users.io:8081/getMetrics/", updateMetrics);
            
                function updateMetrics(obj) {
                    if(obj.error) {
                        $("#errors").empty().html('Error: '+obj.err);
                    } else {
                        console.log(obj)
                    }
                }
                
            });
    
        </script>
    </body>
{% endblock %}
</html>