<!--author: Karina Lin-->

{% extends "base.html" %}

{% block content %}    
<div><h1 id="home-title">Home Page</h1></div>
<span id="tag-line"> Incident Reporter is a web application for a safer and more aware learning environment.</span>
<div class="app-info">
    <p id="about">About</p>
    
   
    
    <br><br>
    It is imperative for one's educational experience that they feel safe in their learning environment.
    
    <br><br>
    
    In a student-professor relationship, a professor holds all the power.  But, it is very possible that a professor 
    make a student feel unsafe.  These incidents should be addressed, even if the incident had no malicious intent 
    -- addressing issues is part of the learning experience for all.
    
    <br><br>
    
    Incident Reporter protects students while allowing proper actions to be taken to ensure a safe learning environment for all.
    In reporting incidents, students are given agency in determining the level of anonyminity they are comfortable with.  There are
    many situations where a student might not feel comfortable identifying themselves, given the power professor hold over students.
    
    <br><br>
    
    At the same time, Incident Reporter protects professors from unfounded claims.  In submiting an incident against a professor,
    students are expected to identify a faculty or staff member to act as their advocate.  This advocate will act as the liaison between
    the student and the reported, allowing the reported to ask for clarification while still protecting student's privacy.
    
    <br><br>
    
    Finally, Incident Reporter allows institutions to work towards data-driven actions against discriminatory actions.
    By allowing community administrators birds-eye-level views of data, administrators are given the ability to identify
    patterns and take action if necessary.
</div>    
<article>
    
</article>
{% endblock %}