<!--author: Karina Lin, Julia Klugherz, Katherine Gao-->

<!DOCTYPE html>
<html lang='en'>

{% extends "base.html" %}

{% block content %}
<body>
    <table class="table table-hover" id="incident-list">
  <thead>
    <tr>
      <th scope="col">Report ID</th>
      <th scope="col">Incident Date</th>
      
      {% if userInfo.role == "facstaff" or userInfo.isAdmin %}
                    <!-- Only for admin and facstaff --> 
                    <th>Reporter</th> <!-- Anonymize if necessary -->
                    {% endif %}
       
       {% if userInfo.role == "student" or userInfo.isAdmin %}
                    <!-- Only for student and admin -->
                    <th>Reported</th> <!-- Will be ID, maybe we can do an inner join to get the name of this person later on -->
                    {% endif %}
                    
      <th scope="col">Advocate</th>
      <th scope="col">Description</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
  
    {% for incident in incidentsList %}
                    
        <tr>
            <td>{{incident.reportID}}</td>
            <td>{{incident.dateOfIncident}}</td>
                        
    <!-- Reporter name (for facstaff and admin) -->

    {% if userInfo.role == "facstaff" %}
        {% if not userInfo.isAdmin %}
            {% if incident.anonymousToReported == 1 %}
                <td>Anonymous</td>
            {% else %}
                <td>{{incident.reporterName}}</td> 
            {% endif %}

        {% else %} <!-- user is admin -->
            {% if incident.anonymousToAll == 1 %}
                <td>Anonymous</td>
            {% else %}
                <td>{{incident.reporterName}}</td> 
            {% endif %}
        {% endif %}
   {% endif %}     
                        <!-- Reported name (for student or admin) -->
                        {% if userInfo.role == "student" %}
                        <td>{{incident.reportedName}}</td> 
                        {% endif %} 
                        
                        {% if userInfo.isAdmin %}
                        <td>{{incident.reportedName}}</td> 
                        {% endif %}
                        
                        <!--AdvocateName-->
                        <td>{{incident.advocateName}}</td>
                    
                        <td>{{incident.description}}</td> 
                        
                        
                        <td>
                            <form action="{{ url_for('incidentDetailPage', id=incident.reportID) }}">
                                <input type="submit" value="More Details">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
         
    </body>
{% endblock %}
</html>