<!--author: Karina Lin, Julia Klugherz, Katherine Gao-->

<!DOCTYPE html>
<html lang='en'>

{% extends "base.html" %}

{% block content %}
    <body>
        <div id="detail-box" class="row justify-content-center">
        Incident ID: {{incident.reportID}} <br>
        {% if userInfo.role == "facstaff" or userInfo.isAdmin %}
            <!-- Only for admin and facstaff --> 
            Reporter: <!-- Anonymize if necessary -->
        {% endif %}  
        
        {% if userInfo.role == "facstaff" %}
            {% if incident.anonymousToReported %}
                Anonymous
            {% else %}
                {{incident.reporterID}}
            {% endif %}
        {% endif %}
        
        {% if userInfo.isAdmin %}
            {% if incident.anonymousToAll %}
                <td>Anonymous</td>
            {% else %}
                <td>{{incident.name}}</td> 
            {% endif %}
        {% endif %}
        <br>
        
        Reported: {{incident.reportedID}} <br>
        Advocate: {{incident.advocateID}} <br>
        Location: {{incident.location}} <br>
        Category: {{incident.category}} <br>
        Date of Incident: {{incident.dateOfIncident}} <br>
        Description: {{incident.description}} 
        
        </div>
        
        <div id="delete" class="row justify-content-center">
        <div class="form-group">
        <form action="{{ url_for('deleteIncident', id=incident.reportID) }}">
            <input class="btn btn-danger" type="submit" value="Delete Incident">
        </form>
        </div>
        </div>
    </body>
{% endblock %}
</html>