{% extends "base.html" %}

{% block content %}
<h1>Welcome to My App</h1>

<p>Please login or join, using one of the forms below:</p>

<form id="joinform" action="{{url_for('join')}}" method="post">
    <h2>Join</h2>
    <p><label for=name><input id="name" name="name" required> Name </label></p>
    <p><label for="email"><input id="email" name="email" required type="email"> Email</label></p>
    <p><label for="password1"><input type="password" id="password1" name="password1" required> Password </label></p>
    <p><label for=password2><input type="password" id="password2" name="password2" required> Password again </label></p>
    
    <p>Type of Account:</p>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="userType" id="fac-staff" value="facstaff">
        <label class="form-check-label" for="fac-staff">Faculty/Staff Member</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="userType" id="stud" value="student">
        <label class="form-check-label" for="stud">Student</label>
    </div>
    
    <p><button type="submit">Submit</button></p>
</form>
    
<form id="loginform" action="{{url_for('login')}}" method="post">
    <h2>Login</h2>
    <p><label for="email">Email: <input id="email" name="email" required type="email"></label></p>
    <p><label for="password">Password: <input type="password" name="password" id="password" required></label></p>
    <p><button type="submit">Submit</button></p>
</form>

<script>
/* global $ */
$("#joinform").on('submit', function (event) {
     var pw1 = $(this).find('[name=password1]').val();
     var pw2 = $(this).find('[name=password2]').val();
     // should also check for length and common words etc
     if( pw1 != pw2 ) {
         // something more sophisticated than alert would be nice
         alert("passwords don't match");
     }
});
</script>
{% endblock %}




